.emoji-style {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: column wrap;
    grid-auto-flow: row; */
    position: absolute;
    top: 25%;
    left: 1%;
}