#main {
  margin: auto;
  width: 100vw; /*100% of the viewport width*/
  height: 100vh; /*100% of the viewport height*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center;  */
  background-color: #ffdfdf;
  
}

.text-input {
  background-color: white;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* flex-flow: column wrap; */
  grid-auto-flow: row; 
}
